* {
  padding: 0px;
  margin: 0px;
}
.card {
  width: 900px;
  padding: 70px;
}
input[type="submit"] {
  background-color: aqua;
  border-radius: 5px;
  padding: 5px;
}
input[type="text"] {
  border-radius: 5px;
  padding: 5px;
}
.title {
  color: red;
}
